extends ../../../system/views/admin/layout/admin

block content
    
  h1.page-header
    | Files: 
    span(style="color: #666") List
    div.row.placeholders
  
  table.table.table-hover
    thead
      tr
        th
          | Thumb
        th
          | Title
        th
          | Description
        th
          | Modified
        th
    tbody
      each file in files
        tr
          td
            a(href="/admin/files/#{file._id}")
              if ['image/jpg', 'image/jpeg', 'image/gif', 'image/png'].indexOf(file.mime)
                img(src="#{file.url}", width="20", height="20")
              else 
                i.fa.fa-file-o.fa-2x
          td
            a(href="/admin/files/#{file._id}")
              | #{file.title}
          td
            | #{file.description}
          td
            | #{file.modified || 'Never'}
          td
            .btn-group
                button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                  | Modify 
                  span.caret
                |   
                ul.dropdown-menu(role="menu")
                  li
                    a(href="/admin/files/#{file._id}/edit") Edit
                  |     
                  li
                    a.deleteSetting(href="#", data-id="#{file._id}") Delete

    tfoot
      tr
        th
          | Thumb
        th
          | Title
        th
          | Description
        th
          | Modified 
        th
          
  a(href="/admin/files/create").btn.btn-primary Create
  
  - var nPages = Math.ceil(nSettings / 10);
  - var i = 0;
  
  if nPages > 0
    nav.pull-right
      ul.pagination
        li(class=(activePage == 0) ? 'disabled' : '')
          a(href="/admin/files/#{activePage-1}", aria-label="Previous")
            span(aria-hidden="true") &laquo;
            
        while i < nPages   
          li(class=(i == activePage) ? 'active' : '')
            a(href="/admin/files?page=#{i}")
              | #{++i} 
                
        li(class=(activePage < nPages-1) ? '' : 'disabled')
          a(href="/admin/files/#{activePage+1}", aria-label="Next")
            span(aria-hidden="true") &raquo;
              
block appendjs
  script.
    window.csrf = '#{csrfToken}';
  script(src="/public/system/admin/index.js")
