extends ../../../system/views/admin/layout/admin

block content
    
  h1.page-header
    | Files: 
    span(style="color: #666") List
    div.row.placeholders
  
  table.table.table-hover
    thead
      tr
        th
          | Thumb
        th
          | Title
        th
          | Description
        th
          | Type
        th
          | Modified
        th
    tbody
      each file in files
        tr
          td
            a(href="/admin/files/#{file._id}")
              if ['image/jpg', 'image/jpeg', 'image/gif', 'image/png'].indexOf(file.mimetype) > -1
                img(src="#{file.url}", width="35", height="35")
              else 
                span.glyphicon.glyphicon-file(style="font-size: 2.80em; color: #888; top: 3px")
          td
            a(href="/admin/files/#{file._id}")
              | #{file.title}
          td
            | #{file.description}
          td
            | #{file.mimetype}  
          td
            | #{file.modified || 'Never'}
          td
            .btn-group
                button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                  | Modify 
                  span.caret
                |   
                ul.dropdown-menu(role="menu")
                  li
                    a(href="/admin/files/#{file._id}/edit") Edit
                  |     
                  li
                    a.deleteSetting(href="#", data-id="#{file._id}") Delete

    tfoot
      tr
        th
          | Thumb
        th
          | Title
        th
          | Description
        th
          | Type
        th
          | Modified 
        th
          
  a(href="#", data-toggle="modal", data-target="#uploadFilesModal").btn.btn-primary Upload
  
  - var nPages = Math.ceil(nSettings / 10);
  - var i = 0;
  
  if nPages > 0
    nav.pull-right
      ul.pagination
        li(class=(activePage == 0) ? 'disabled' : '')
          a(href="/admin/files/#{activePage-1}", aria-label="Previous")
            span(aria-hidden="true") &laquo;
            
        while i < nPages   
          li(class=(i == activePage) ? 'active' : '')
            a(href="/admin/files?page=#{i}")
              | #{++i} 
                
        li(class=(activePage < nPages-1) ? '' : 'disabled')
          a(href="/admin/files/#{activePage+1}", aria-label="Next")
            span(aria-hidden="true") &raquo;
            
            
  #uploadFilesModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="uploadFilesModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Upload Files
        .modal-body
          span.btn.btn-success.fileinput-button
            i.glyphicon.glyphicon-plus
            span Select files...
            input#fileupload(type='file', name='files[]', multiple='')
          br
          br
          #progress.progress
            .progress-bar.progress-bar-success
          #files.files
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Upload

              
block appendjs
  script.
    window.csrf = '#{csrfToken}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/admin/index.js")
  script.
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '/api/files'
        $('#fileupload').fileupload({
          url: url,
          dataType: 'json',
          beforeSend: function(xhr){
            xhr.setRequestHeader("csrf-token", window.csrf);
          },
          done: function (e, data) {
            $.each(data.result.files, function (index, file) {
              $('<p/>').text(file.name).appendTo('#files');
            });
          },
          progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
              'width',
              progress + '%'
            );
          }
        })
        .prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });    
